* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-container{
    max-width: 100%;
    display: block;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 0, 0);
    }

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}
/* .logo-img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    /* display: inline-block; */
    float: left;

} */